<div class="h-full min-h-screen flex justify-content-center align-items-center">
  <p-card class="w-10 max-w-lg">
    <div class="text-900 text-3xl font-medium mb-3 text-center">
      Please authenticate
    </div>
    <p-tabView class="centered">
      <p-tabPanel header="Login">
        <form
          class="flex flex-column"
          [formGroup]="loginForm"
          (ngSubmit)="onLogin()"
        >
          <div class="field h-full">
            <label>Email</label>
            <span class="p-input-icon-left w-full">
              <i class="fa-regular fa-at"></i>
              <input
                class="w-full"
                type="text"
                pInputText
                formControlName="email"
              />
            </span>
            <app-field-errors
              [formField]="loginForm.controls['email']"
              fieldName="Email"
            ></app-field-errors>
          </div>
          <div class="field h-full">
            <label>Password</label>
            <span class="p-input-icon-left w-full">
              <i class="fa-regular fa-key"></i>
              <input
                class="w-full"
                type="password"
                pPassword
                [feedback]="false"
                formControlName="password"
              />
            </span>
            <app-field-errors
              [formField]="loginForm.controls['password']"
              fieldName="Password"
            ></app-field-errors>
          </div>
          <div>
            <app-field-error
              *ngIf="invalidLoginCredentials"
              class="text-base flex justify-content-center mb-3"
            >
              Invalid credentials
            </app-field-error>
          </div>
          <button
            pButton
            type="submit"
            label="Sign In"
            icon="fa-regular fa-user-unlock"
          ></button>
          <p-divider align="center" class="m-3">
            <span>or sign in with...</span>
          </p-divider>
          <div class="flex justify-content-evenly">
            <button
              pButton
              type="button"
              style="background-color: #dd4b39"
              icon="fa-brands fa-google"
              (click)="loginWithGoogle()"
            ></button>
            <button
              pButton
              type="button"
              style="background-color: #1877f2"
              icon="fa-brands fa-facebook"
              (click)="loginWithFacebook()"
            ></button>
            <button
              pButton
              type="button"
              style="background-color: #333"
              icon="fa-brands fa-github"
              (click)="loginWithGithub()"
            ></button>
          </div>
        </form>
      </p-tabPanel>
      <p-tabPanel header="Register">
        <form
          class="flex flex-column"
          [formGroup]="registerForm"
          (ngSubmit)="onRegister()"
        >
          <div class="field h-full">
            <label>Email</label>
            <span class="p-input-icon-left w-full">
              <i class="fa-regular fa-at"></i>
              <input
                class="w-full"
                type="text"
                pInputText
                formControlName="email"
              />
            </span>
            <app-field-errors
              [formField]="registerForm.controls['email']"
              fieldName="Email"
            ></app-field-errors>
          </div>
          <div class="field h-full">
            <label>Password</label>
            <span class="p-input-icon-left w-full">
              <i class="fa-regular fa-key"></i>
              <input
                class="w-full"
                type="password"
                pPassword
                [feedback]="false"
                formControlName="password"
              />
            </span>
            <app-field-errors
              [formField]="registerForm.controls['password']"
              fieldName="Password"
            ></app-field-errors>
          </div>
          <div>
            <app-field-error
              *ngIf="invalidRegisterCredentials"
              class="text-base flex justify-content-center mb-3"
            >
              Invalid credentials
            </app-field-error>
          </div>
          <button
            pButton
            type="submit"
            label="Register"
            icon="fa-regular fa-user-unlock"
          ></button>
          <p-divider align="center" class="m-3">
            <span>or register in with...</span>
          </p-divider>
          <div class="flex justify-content-evenly">
            <button
              pButton
              type="button"
              style="background-color: #dd4b39"
              icon="fa-brands fa-google"
              (click)="loginWithGoogle()"
            ></button>
            <button
              pButton
              type="button"
              style="background-color: #1877f2"
              icon="fa-brands fa-facebook"
              (click)="loginWithFacebook()"
            ></button>
            <button
              pButton
              type="button"
              style="background-color: #333"
              icon="fa-brands fa-github"
              (click)="loginWithGithub()"
            ></button>
          </div>
        </form>
      </p-tabPanel> </p-tabView
  ></p-card>
</div>
