rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /queues/{queue} {
      allow read: if request.auth != null;
      allow read, update, delete, create: if request.auth !=null && request.auth.uid == queue
    }
  }
}