<div class="h-full">
  <div *ngIf="myQueue$ | async as myQueue; else noQueue">
    <div *ngIf="myQueue.isOpen; else queueClosed">Queue open!
      <div *ngIf="myQueue.noInterruptionMode; else interruptionMode">
        Working!
        Next opening in {{ remainingTime | async }} seconds
      </div>
      <ng-template #interruptionMode>Time to answer some questions</ng-template>
    </div>
    <ng-template #queueClosed> Queue closed </ng-template>
  </div>
  <ng-template #noQueue>
    <div
      class="h-full flex flex-column justify-content-center text-center align-items-center"
    >
      <span>You have not configured your queue yet, please do it now</span>
      <button
        type="button"
        pButton
        icon="fa-regular fa-gears"
        class="p-button-lg w-12rem p-button-outlined h-12rem m-3"
        routerLink="/queues/settings"
        label="setup"
      ></button>
    </div>
  </ng-template>
</div>
