@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
App {
  height: 100%;
  margin: 0;
  padding: 0;
}
div.react-toggle--checked .react-toggle-track {
  @apply bg-primary-500;
}
div.react-toggle--checked .react-toggle-thumb {
  @apply border-primary-500;
}
div.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  @apply bg-primary-700 !important;
}

div.react-toggle-track {
  @apply bg-slate-300;
}
div.react-toggle-thumb {
  @apply border-slate-300;
}
div.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  @apply bg-slate-700;
}
div.react-toggle--focus .react-toggle-thumb {
  @apply shadow-indigo-500 shadow-lg;
}

div.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  @apply shadow-indigo-500 shadow-lg;
}
body {
  background: rgb(29,78,216);
  background: linear-gradient(160deg, rgba(29,78,216,1) 0%, rgba(233,64,87,1) 60%, rgba(242,113,33,1) 100%);
}
